body {
  display: flex;
  flex-direction: column;
  flex: 1;
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  margin: 0;
  padding: 0;
}
.body {
  background-color: #edf3f8;
  z-index: 4;
  transition: all 0.3s ease;
}
.sidebar-collapse {
  margin-right: 300px;
  transition: all 0.3s ease;
}
.responsive-collapse {
  padding-left: 75px !important;
  transition: all 0.3s ease;
}
.responsive-font-description {
  font-size: 20px !important;
  transition: all 0.3s ease;
}
.responsive-font {
  font-size: 25px !important;
  transition: all 0.3s ease;
}
.responsive-img-small {
  width: 90px !important;
  margin-left: 10px !important;
  transition: all 0.3s ease;
}
.responsive-title-small {
  font-size: 25px !important;
  margin-bottom: 10px !important;
  transition: all 0.3s ease;
}
.info-font-description {
  font-size: 19px !important;
  transition: all 0.3s ease;
}
.info-font-content {
  font-size: 16px !important;
  transition: all 0.3s ease;
}
.nav-collapse {
  width: 84.5% !important;
  transition: all 0.3s ease;
}
.button {
  background: none;
  border: none;
  padding: 0px !important;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}
#sidebar {
  position: fixed;
  height: 100%;
  width: 300px;
  right: 0px;
  z-index: 3;
  background-color: white;
}
#sidebar .windows {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
}
#sidebar .windows .window img {
  width: 200px;
}
header {
  display: flex;
  flex-direction: column;
}
header nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  background: white;
  width: 100%;
  z-index: 5;
  transition: all 0.3s ease;
}
header nav .brand {
  margin: 25px 100px;
  transition: all 0.5s ease;
}
header nav .brand img {
  width: auto;
  height: 25px;
}
header nav .menu {
  margin: 25px 100px;
  height: 30px;
  transition: all 0.3s ease;
}
header nav .menu img {
  width: 30px;
}
header nav .navbar-hide {
  margin: 25px 25px 25px 25px;
  background: white;
  padding: 15px;
  border-radius: 5px;
  transition: all 0.3s ease;
}
header nav .navbar-hide-trans {
  background-color: transparent;
  transition: all 0.3s ease;
}
header .navbar-hide {
  background-color: transparent;
  transition: all 0.3s ease;
}
header #container {
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(../../photos/bg-container.jpg) no-repeat center center;
  color: #282e33;
  z-index: 4;
}
header #container .content {
  text-align: center;
}
header #container .content h1 {
  margin-top: 600px;
  margin-bottom: 0px;
  font-weight: 700;
  font-size: 80px;
}
header #container .content p {
  margin-top: 0px;
  font-weight: 400;
  font-size: 30px;
}
header #container .content .arrow {
  margin-top: 50px;
  margin-bottom: 125px;
}
header #container .content .arrow img {
  width: 40px;
  height: auto;
  padding: 5px 5px 0 5px;
  border-radius: 30px;
  transition: all 0.3s ease;
}
header #container .content .arrow img:hover {
  background-color: rgba(255, 255, 255, 0.5);
  transition: all 0.3s ease;
}
header #container .content .arrow img:active {
  background-color: #ffffff;
  transition: none;
}
#info {
  display: flex;
  align-items: center;
  flex-direction: column;
}
#info .all {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  background-color: white;
  margin: 125px 0 25px 0;
  padding: 0 130px 0 130px;
  padding-bottom: 100px;
  z-index: 3;
  border-radius: 3px;
}
#info .all .about {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  font-size: 30px;
  margin-top: 100px;
  margin-bottom: 100px;
}
#info .all .images {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}
#info .all .images .block {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#info .all .images .block span {
  font-size: 25px;
}
#info .all .images .block img {
  width: auto;
  margin-bottom: 15px;
}
#info .all .info-description {
  font-size: 22px;
  color: #6e8190;
  margin-top: 60px;
  text-align: center;
  padding-bottom: 30px;
  border-bottom: 1px solid #dde7f0;
  transition: all 0.3s ease;
}
#info .all .author {
  font-size: 25px;
  margin-top: 30px;
  margin-bottom: 30px;
}
#info .all .information {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#info .all .information .aboutMe {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#info .all .information .aboutMe .title {
  display: flex;
  flex-direction: column;
}
#info .all .information .aboutMe .title .name {
  font-size: 30px;
  color: #282e33;
}
#info .all .information .aboutMe .title .profession {
  font-size: 25px;
  color: #bec7ce;
}
#info .all .information .aboutMe .info-content {
  padding-right: 150px;
  font-size: 20px;
  color: #6e8190;
  margin-top: 50px;
  transition: all 0.3s ease;
}
#info .all .information .logo img {
  width: 200px;
  border-radius: 150px;
}
#info .shadow {
  position: relative;
  height: 100px;
  background-color: white;
  width: 55%;
  box-shadow: 0 20px 60px 0 rgba(158, 177, 189, 0.5);
  bottom: 125px;
}
#tiles {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 125px;
}
#tiles .title {
  font-size: 35px;
  margin-bottom: 35px;
}
#tiles .windows {
  display: flex;
  flex-direction: row;
}
#tiles .windows .window {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: white;
  border-radius: 3px;
}
#tiles .windows .window .text {
  padding: 30px 0 30px 0;
  font-size: 25px;
}
#tiles a {
  text-decoration: none;
  color: #282e33;
  margin: 35px 30px 30px 30px;
  transition: all 0.5s ease;
  cursor: pointer;
}
#tiles a:hover {
  box-shadow: 0 20px 60px 0 rgba(158, 177, 189, 0.5);
  transition: all 0.5s ease;
  transform: translateY(-3px);
}
#responsive-info {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-left: 230px;
  transition: all 0.3s ease;
}
#responsive-info .all {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
}
#responsive-info .all .imgTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 130px;
  margin-top: 125px;
}
#responsive-info .all .imgTitle .responsive-description {
  font-size: 25px;
  color: #6e8190;
  margin-top: 65px;
  transition: all 0.3s ease;
}
#responsive-info .all .imgTitle .responsive-content {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  transition: all 0.3s ease;
}
#responsive-info .all .imgTitle .responsive-content .responsive-title {
  margin-bottom: 30px;
  font-size: 40px;
  transition: all 0.3s ease;
}
#responsive-info .all .imgTitle .responsive-content .responsive-img {
  width: 130px;
  margin-left: 30px;
  transition: all 0.3s ease;
}
#responsive-info .all .apple {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#responsive-info .all .apple .iphone {
  position: relative;
  left: 40px;
  bottom: 10px;
}
#responsive-info .appleDown {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
  font-size: 40px;
  transition: all 0.3s ease;
}
#responsive-info .appleDown .text {
  margin-right: 180px;
  margin-left: 120px;
  text-align: center;
}
footer {
  background-color: #232732;
}
footer .links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 50px 0 50px 0;
}
footer .links .copyright {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
  color: #aac1d3;
  margin-left: 100px;
}
footer .links .copyright img {
  margin-top: 5px;
  width: 110px;
}
footer .links .community {
  display: flex;
  flex-direction: row;
}
footer .links .community img {
  width: 50px;
  margin: 0 20px 0 20px;
}
footer .links .community img:hover {
  opacity: 0.6;
  transition: all 0.3s ease;
}
footer .links .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 20px;
  color: #aac1d3;
  margin-left: 100px;
}
footer .links .content .title {
  font-size: 20px;
}
footer .links .content ul {
  list-style-type: none;
  padding: 0px;
  margin: 10px 0 0 0 ;
}
footer .links .content ul li {
  font-size: 15px;
  margin-top: 3px;
}
footer .links .content ul li a {
  text-decoration: none;
  color: #aac1d3;
}
footer .links .content ul li a:hover {
  color: #4caf50;
}
footer .adware {
  display: flex;
  justify-content: center;
  font-size: 10px;
  color: #3c404c;
  padding-bottom: 10px;
}
